
body {
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9FA191;
    padding: 10px;
}

.tips-bar {
    text-align: center;
}

.section-1 {
    background-color: #4F382A;
    margin: auto;
    display: flex;
}

.logo {
    margin: auto;
    padding: 50px;
}

#options-container {
    padding: 50px;
}

.options div{
    color: black;
    background-color: blanchedalmond;
    margin: 10px;
    padding: 50px;
}

.option-upper {
    display: inline-block;
}

.option-lower {
    display: inline-block;
    margin-right: 100px;
}



.section-2 {
    color: black;
    background-color: #D5AC7B;
    padding: 100px;
}

footer {
    background-color: #868E94;
    margin-bottom: 0;
    padding: 10px;
}


