
body {
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9FA191;
    padding: 10px;
}

.section-1 {
    background-color: #4F382A;
    padding: 100px;
    display: flex;
}

.options {
    list-style-type: none;
}

.section-2 {
    color: black;
    background-color: #D5AC7B;
    padding: 100px;
}

footer {
    background-color: #868E94;
    margin-bottom: 0px;
    padding: 10px;
}


